// Here you can add other styles
.sidebar, .sidebar .nav-link.active .nav-icon, .sidebar .nav-link .nav-icon, .sidebar .sidebar-minimizer{
    color: #fff;
}
.sidebar .nav-link.active {
    background: #5c6873;
}

.box-text{
    color: #5c6873; 
}

.box-text a{
    cursor: pointer;
}

.list-box {
    border: 1px solid #ccc;
    padding: 0;
    margin-left: 15px;
    min-height: 300px;
}

.form-control {
    border: 1px solid #ddd;
}

.centerIcon i{
    position: relative;
    top: 40%;
    margin-left: 21px;
    font-size: 34px;
    color: #ccc;
}

.advanceSearch {
    float: right;
    margin: 6px;
    cursor: pointer;
    color: #20a8d8 !important;
    font-weight: 500;
}

.close-icon-box a{ font-size: 18px; }

.advanceSearch-box {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}

.advanceSearch-box.active {
    max-height: 100px;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
    opacity: 1;
}

.catalog .card img {
    height: 50px; width: 50px;
}

.catalog .card .card-body {
    padding: 8px;
}

.catalog .card:hover {
    border: 1px solid #20a8d8;
    -moz-box-shadow:inset 0 0 10px #20a8d8;
   -webkit-box-shadow: inset 0 0 10px #20a8d8;
    box-shadow: inset 0 0 10px #20a8d8;
}

.catalog .card .card-body a.title {
    color: #20a8d8 !important;
    cursor: pointer;
}

.catalog .card .card-body a.delete {
    margin-top: -10px;
    font-size: 18px;
    position: absolute;
    right: 5px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.dataTables th{
    color: #5c6873;
}
.dataTables td{
    color: #23282c;
}
.dataTables_filter {
    margin-top: -37px;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #ddd !important;
    padding: 0.375rem 0.75rem !important;
}  
.dataTables_filter input[type="search"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none;
    border: 1px solid #73818f;
    background-color: #73818f;
}

.trash-btn {
    padding: 3px 8px;
}

.track-progress {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.track-progress li {
    list-style-type: none;
    display: inline-block;
  
    position: relative;
    margin: 0;
    padding: 0;
  
    text-align: center;
    line-height: 30px;
    height: 30px;
  
    background-color: #f0f0f0;
}

.track-progress[data-steps="3"] li { width: 33%; }
.track-progress[data-steps="4"] li { width: 25%; }
.track-progress[data-steps="5"] li { width: 20%; }

.track-progress li > span {
    display: block;
    color: #666;
    background-color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}
  
.track-progress li.done > span {
    color: #fff;
    background-color: #20a8d8;
}

.track-progress li > span:after,
.track-progress li > span:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: #ccc;
  border-width: 15px;
}

.track-progress li.done + li > span:before {
    border-left-color: #20a8d8;
}
  
.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
    display: none;
}

.track-progress li > span:after {
  top: -5px;
  z-index: 1;
  border-left-color: white;
  border-width: 20px;
}

.track-progress li > span:before {
  z-index: 2;
}

.track-progress li:first-child i,
.track-progress li:last-child i {
  display: block;
  height: 0;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: white;
  border-width: 15px;
}

.track-progress li:last-child i {
  left: auto;
  right: -15px;
  border-left-color: transparent;
  border-top-color: white;
  border-bottom-color: white;
}
