// Here you can add other styles
.sidebar, .sidebar .nav-link.active .nav-icon, .sidebar .nav-link .nav-icon, .sidebar .sidebar-minimizer{
    color: #fff;
}
.sidebar .nav-link.active {
    background: #5c6873;
}

.box-text{
    color: #5c6873; 
}

.box-text a{
    cursor: pointer;
}

.list-box {
    border: 1px solid #ccc;
    padding: 0;
    margin-left: 15px;
    min-height: 300px;
}

.form-control {
    border: 1px solid #ddd;
}

.centerIcon i{
    position: relative;
    top: 40%;
    margin-left: 21px;
    font-size: 34px;
    color: #ccc;
}

.advanceSearch {
    float: right;
    margin: 6px;
    cursor: pointer;
    color: #20a8d8 !important;
    font-weight: 500;
}

.close-icon-box a{ font-size: 18px; }

.advanceSearch-box {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}

.advanceSearch-box.active {
    max-height: 100px;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
    opacity: 1;
}

.catalog .card img {
    height: 50px; width: 50px;
}

.catalog .card .card-body {
    padding: 8px;
}

.catalog .card:hover {
    border: 1px solid #20a8d8;
    -moz-box-shadow:inset 0 0 10px #20a8d8;
   -webkit-box-shadow: inset 0 0 10px #20a8d8;
    box-shadow: inset 0 0 10px #20a8d8;
}

.catalog .card .card-body a.title {
    color: #20a8d8 !important;
    cursor: pointer;
}

.catalog .card .card-body a.delete {
    margin-top: -10px;
    font-size: 18px;
    position: absolute;
    right: 5px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.dataTables th{
    color: #5c6873;
}
.dataTables td{
    color: #23282c;
}
.dataTables_filter {
    margin-top: -37px;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #ddd !important;
    padding: 0.375rem 0.75rem !important;
}  
.dataTables_filter input[type="search"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none;
    border: 1px solid #73818f;
    background-color: #73818f;
}

.trash-btn {
    padding: 3px 8px;
}

.flexer,
.progress-indicator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.no-flexer,
.progress-indicator.stacked {
    display: block;
}

.no-flexer-element {
    -ms-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    flex: 0;
}

.flexer-element,
.progress-indicator > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.progress-indicator {
    margin: 0;
    padding: 0;
    font-size: 80%;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbbbbb;
    display: block;
}

.progress-indicator > li:hover {
    color: #6e6e6e;
}

.progress-indicator > li .bubble {
    border-radius: 1000px;
    width: 20px;
    height: 20px;
    background-color: #bbbbbb;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: 1px solid #888888;
}

.progress-indicator > li .bubble:before,
.progress-indicator > li .bubble:after {
    display: block;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #bbbbbb;
}

.progress-indicator > li .bubble:before {
    left: 0;
}

.progress-indicator > li .bubble:after {
    right: 0;
}

.progress-indicator > li.completed {
    color: green;
}

.progress-indicator > li.completed .bubble {
    background-color: #65d074;
    color: #65d074;
    border-color: #247830;
}

.progress-indicator > li.completed .bubble:before,
.progress-indicator > li.completed .bubble:after {
    background-color: #65d074;
    border-color: #247830;
}

.progress-indicator > li a:hover .bubble {
    background-color: #5671d0;
    color: #5671d0;
    border-color: #1f306e;
}

.progress-indicator > li a:hover .bubble:before,
.progress-indicator > li a:hover .bubble:after {
    background-color: #5671d0;
    border-color: #1f306e;
}

.progress-indicator > li.danger .bubble {
    background-color: #d3140f;
    color: #d3140f;
    border-color: #440605;
}

.progress-indicator > li.danger .bubble:before,
.progress-indicator > li.danger .bubble:after {
    background-color: #d3140f;
    border-color: #440605;
}

.progress-indicator > li.warning .bubble {
    background-color: #edb10a;
    color: #edb10a;
    border-color: #5a4304;
}

.progress-indicator > li.warning .bubble:before,
.progress-indicator > li.warning .bubble:after {
    background-color: #edb10a;
    border-color: #5a4304;
}

.progress-indicator > li.info .bubble {
    background-color: #5b32d6;
    color: #5b32d6;
    border-color: #25135d;
}

.progress-indicator > li.info .bubble:before,
.progress-indicator > li.info .bubble:after {
    background-color: #5b32d6;
    border-color: #25135d;
}

.progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block;
}

.progress-indicator.stacked > li .bubble:before,
.progress-indicator.stacked > li .bubble:after {
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    height: 100%;
}

.progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60% !important;
    width: 45% !important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em;
}

.progress-indicator.stacked > li a {
    border: none;
}

@media handheld,
screen and (max-width: 400px) {
    .progress-indicator {
        font-size: 60%;
    }
}