<div class="animated fadeIn">
  <div class="row">

      

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-users bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">8000</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Employees</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-list bg-gray text-white p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">10</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Content Configurations</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-files-o bg-success p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">89000</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Contents</div>
          </div>
        </div>
      </div>


  </div><!--/.row-->
 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Latest Content Uploaded
        </div>
        <div class="card-body">
         
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <tbody>
              <tr>
                <td>
                  <div class="box-text">
                    <a class="pull-left">
                      <strong>New Videos</strong><br/>
                      <small>Lorem ipsum is the dummy text generated...</small>
                    </a>
                    <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="box-text">
                    <a class="pull-left">
                      <strong>Content Title</strong><br/>
                      <small>Lorem ipsum is the dummy text generated...</small>
                    </a>
                    <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="box-text">
                    <a class="pull-left">
                      <strong>Content Title</strong><br/>
                      <small>Lorem ipsum is the dummy text generated...</small>
                    </a>
                    <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="box-text">
                    <a class="pull-left">
                      <strong>Content Title</strong><br/>
                      <small>Lorem ipsum is the dummy text generated...</small>
                    </a>
                    <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Notifications
          </div>
          <div class="card-body">
         
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <tbody>
                  <tr>
                    <td>
                      <div class="box-text">
                        <span>New Videos uploaded by admin user</span>
                        <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="box-text">
                        <span>New Videos uploaded by admin user</span>
                        <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="box-text">
                        <span>New Videos uploaded by admin user</span>
                        <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="box-text">
                        <span>New Videos uploaded by admin user</span>
                        <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="box-text">
                        <span>New Videos uploaded by admin user</span>
                        <button class="pull-right btn btn-outline-danger"><i class="fa fa-trash "></i></button>
                      </div>
                    </td>
                  </tr>
    
                </tbody>
              </table>
            </div>
        </div>
      </div><!--/.col-->
  </div><!--/.row-->
</div>
