<div class="animated fadeIn">
  <div class="row">

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="cui-people bg-secondary p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">200</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Customers</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-users bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">8000</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Users</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-files-o bg-success p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">89000</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Contents</div>
          </div>
        </div>
      </div>


  </div><!--/.row-->
 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Customers
        </div>
        <div class="card-body">
         
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                
                <th>Name</th>
                <th>Email</th>
                <th>Users</th>
                <th>Last Login</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>John Doe</div>
                </td>
                <td>
                 abc@xyz.com
                </td>
                <td>
                  250
                </td>
                <td>
                  14th June, 2018 11:05
                </td>
              </tr>

              <tr>
                <td>
                  <div>Jane Austin</div>
                </td>
                <td>
                  john@xyz.com
                </td>
                <td>
                  250
                </td>
                <td>
                  14th June, 2018 11:05
                </td>
              </tr>

              <tr>
                <td>
                  <div>Steve Adam</div>
                </td>
                <td>
                  steve@xyz.com
                </td>
                <td>
                  250
                </td>
                <td>
                  14th June, 2018 11:05
                </td>
              </tr>

              <tr>
                <td>
                  <div>James Smith</div>
                </td>
                <td>
                  james@xyz.com
                </td>
                <td>
                  250
                </td>
                <td>
                  14th June, 2018 11:05
                </td>
              </tr>

            </tbody>
          </table>
          <br/>
          <div><button [routerLink]="['/customers']" class="btn bg-primary pull-right">View More >></button></div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Users
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>Content</th>
                    <th>Last Login</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>John Doe</div>
                    </td>
                    <td>
                      abc@xyz.com
                    </td>
                    <td>
                      250
                    </td>
                    <td>
                      14th June, 2018 11:05
                    </td>
                  </tr>
    
                  <tr>
                    <td>
                      <div>Jane Austin</div>
                    </td>
                    <td>
                      john@xyz.com
                    </td>
                    <td>
                      250
                    </td>
                    <td>
                      14th June, 2018 11:05
                    </td>
                  </tr>
    
                  <tr>
                    <td>
                      <div>Steve Adam</div>
                    </td>
                    <td>
                      steve@xyz.com
                    </td>
                    <td>
                      250
                    </td>
                    <td>
                      14th June, 2018 11:05
                    </td>
                  </tr>
    
                  <tr>
                    <td>
                      <div>James Smith</div>
                    </td>
                    <td>
                      james@xyz.com
                    </td>
                    <td>
                      250
                    </td>
                    <td>
                      14th June, 2018 11:05
                    </td>
                  </tr>
    
                </tbody>
            </table>
            <br/>
            <div><button [routerLink]="['/users']" class="btn bg-primary pull-right">View More >></button></div>
          </div>
        </div>
      </div><!--/.col-->
  </div><!--/.row-->
</div>
