<div class="animated fadeIn">
    <div class="card">
        
        <div class="card-body">
            <div class="row">   
                <div class="form-group col-sm-6">
                    <label for="name">Title</label>
                    <input type="text" class="form-control col-sm-8" id="name" placeholder="Enter Rule Title">
                </div>
            </div>

            
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="type">Notification Template</label>
                    <select class="form-control  col-sm-8 op">
                        <option>Select Template</option>
                        <option>New User Registration</option>
                        <option>Media Upoad</option>
                        <option>Media Delete</option>
                    </select>
                </div>

                <div class="form-group col-sm-5">
                    <label for="type">User Group</label>
                    <select class="form-control  col-sm-8 op">
                        <option>Select User Group</option>
                        <option>Customer</option>
                        <option>Employee</option>
                        <option>Test</option>
                    </select>
                </div>
            </div>
            
            <div class="row">   
                <div class="form-group col-sm-10">
                    <label for="name">Description</label>
                    <textarea rows="3" class="form-control" placeholder="Enter Rule Description"></textarea>
                </div>
            </div>
           
            <div class="row">
                <div class="form-group col-sm-10">
                    <button class="btn btn-primary col-sm-2">Save</button>
                </div>
            </div>
                
        </div>
    </div>

</div>