<div class="animated fadeIn">
 
    <div class="row">
      <div class="col-md-12">
        <div class="card">
         
          <div class="card-body">
            
            <div class="row mb-3">
              <div class="col-md-4 offset-md-8">
               
                <div class="input-group">
                    <button class="btn btn-outline-success" [routerLink]="['/notification/addRule']"><i class="fa fa-plus">&nbsp;Add Rule</i></button>&nbsp;
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                  <input class="form-control" placeholder="Search by title" type="text">
                </div>
              </div>
            </div>
  
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  
                  <th>Title</th>
                  <th>Template</th>
                  <th>User Group</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div>Welcome Notification Rule</div>
                  </td>
                  <td>
                    <div>New User Registration</div>
                  </td>
                  <td>
                    <div>Employees</div>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary"><i class="fa fa-search"></i></button>&nbsp;
                    <button class="btn btn-outline-success"><i class="fa fa-pencil"></i></button>&nbsp;
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>Media Upload Rule</div>
                  </td>
                  <td>
                    <div>File Upload</div>
                  </td>
                  <td>
                    <div>Customer</div>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary"><i class="fa fa-search"></i></button>&nbsp;
                    <button class="btn btn-outline-success"><i class="fa fa-pencil"></i></button>&nbsp;
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>Media Delete Rule</div>
                  </td>
                  <td>
                    <div>File Delete</div>
                  </td>
                  <td>
                    <div>Customer</div>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary"><i class="fa fa-search"></i></button>&nbsp;
                    <button class="btn btn-outline-success"><i class="fa fa-pencil"></i></button>&nbsp;
                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              
              </tbody>
            </table>
           
          </div>
        </div>
      </div><!--/.col-->
  
    </div><!--/.row-->
  </div>
  