ul.steps { margin: 0; padding: 0; }
ul.steps li{ display: inline; }
ul.steps li.done a{ color: #20a8d8; }
ul.steps li a { cursor: pointer; }

.input-box {
    text-align: center;
    position: relative;
    margin-bottom: 8%;
}

.input-box p{ 
    font-size: 24px;
    color: #73818f;
}

button.file-select {
    background: url('../../../assets/img/upload-icon.png') no-repeat;
    height: 100px;
    width: 125px;
    outline: none;
    border: none;
    margin-top: 16%;
}

.hide-this {
    height: 0;
    opacity: 0;
    left: -1000px;
}

.meta-data-box p{
    margin-bottom: 3px;
}

.progress {
    height: 2rem;
    border: 1px solid #8ad4ee;
}

.dataTables tbody tr{
    cursor: pointer;
}

.trim-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
}

.content-display-box {
    margin: 20px;
    text-align: center;
    height: 55vh;
}

.upload-config-div {
    font-size: 15px;
}

.progress-bar span {
    font-size: 15px;
}

.progress-bar img {
    height: 21px;
}

.modal-loading-div {
    padding: 20px;
    margin-bottom: 50px;
}

.modal-loading-div p {
    margin: 0;
}

.modal-loading-div img {
    height: 10px;
    width: 100%;
}