<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        
        <div class="card-body">
          
          <div class="row">
            <div class="col-md-4 offset-md-7">
             
              <div class="input-group">
                  <button class="btn btn-outline-success" [routerLink]="['/contentCatalog/add']"><i class="fa fa-plus">&nbsp;Add Content</i></button>&nbsp;                
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 table-data">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover dataTables">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let content of catalog; let i=index;">
                    <td>{{content.id}}</td>
                    <td>{{content.fileStatus}}</td>
                    <td class="trim-text" width="20%"><a href="javascript://" (click)="viewContent(content.id)">{{content.title}}</a></td>
                    <td class="trim-text" width="20%">{{content.description}}</td>
                    <td class="trim-text" width="20%">{{content.tags}}</td>
                    <td><button class="btn btn-outline-danger trash-btn" (click)="deleteContent(content.id)"><i class="fa fa-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->
</div>
