<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>{{content.title}} </strong> 
            <div class="pull-right col-sm-2">
                <button *ngIf="content.fileStatus == 'INGESTED'" class="btn btn-success text-white" (click)="transcodeModal.show()"><i class="fa fa-cog">&nbsp;TRANSCODE</i></button>
                <button *ngIf="content.fileStatus == 'PROCESSED'" class="btn btn-info text-white" (click)="publishModal.show(); publish();"><i class="fa fa-upload">&nbsp;PUBLISH</i></button>
            </div>
        </div>
        <div class="card-body">

            <ul class="progress-indicator">
                <li [ngClass]="{'completed': content.fileStatus == 'INGESTED' ||
                                    content.fileStatus == 'PROCESSED' ||
                                    content.fileStatus == 'PUBLISHED'}">
                    <span class="bubble"></span>
                    Uploaded
                </li>
                <li [ngClass]="{'completed': content.fileStatus == 'PROCESSED' ||
                                    content.fileStatus == 'PUBLISHED'}">
                    <span class="bubble"></span>
                    Transcoded
                </li>
                <li [ngClass]="{'completed': content.fileStatus == 'PUBLISHED'}">
                    <span class="bubble"></span>
                    Published
                </li>
            </ul>
            <br/>
            <div class="content-display-box" *ngIf="content.fileStatus == 'PUBLISHED'">
                <video id="video_player"
                    class="video-js vjs-default-skin vjs-big-play-centered "
                    controls preload="auto">
                    
                   <source src="{{content.publishURL}}" type="{{content.fileContentType}}" />
                  
                 </video>
                
                 
            </div>
           
            <div class="content-detail-box row">
                <div class="col-sm-12">
                    <table class="table table-hover">
                        <tr>
                            <td width="30%"><strong>Title</strong></td>
                            <td>{{content.title}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Description</strong></td>
                            <td>{{content.description}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>File Size</strong></td>
                            <td>{{content.fileSize}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Content Type</strong></td>
                            <td>{{content.fileContentType}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Ingested Location</strong></td>
                            <td>{{content.ingestionFileLocation}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Ingested URL</strong></td>
                            <td>{{content.ingestionURL}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Processed Location</strong></td>
                            <td>{{content.processFileLocation}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Process URL</strong></td>
                            <td>{{content.processURL}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Publish Location</strong></td>
                            <td>{{content.publishURL}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>File Status</strong></td>
                            <td>{{content.fileStatus}}</td>
                        </tr>
                        <tr>
                            <td width="30%"><strong>Tags</strong></td>
                            <td>{{content.tags}}</td>
                        </tr>
                    </table>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #transcodeModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left">{{content.title}}</h5>
      </div>
        <div class="modal-body">
            <div *ngIf="transcodeStatus == 'not-started'">
                <form #transcodeForm="ngForm">
                    <div class="form-group">
                        <label for="contentFormat" class="col-form-label">Select Format:</label>
                        <select class="form-control" id="contentFormat" [(ngModel)]="conversionType" name="conversionType">
                            <option value="HLS">HLS</option>
                            <option value="MP4">MP4</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-loading-div" *ngIf="transcodeStatus == 'in-progress'">
                <p>Transcoding in progress</p>
                <img src="../../../assets/img/loading.gif" alt="please wait..."/>
            </div>
            <div class="modal-loading-div" *ngIf="transcodeStatus == 'success'">
                <p class="text-success">Transcoding completed successfully.</p>
            </div>
            <div class="modal-loading-div" *ngIf="transcodeStatus == 'error'">
                <p class="text-danger">There is some issue. Please contact administrator.</p>
            </div>
        </div>
        
        <div class="modal-footer" *ngIf="transcodeStatus == 'not-started'">
            <button type="button" class="btn btn-secondary" (click)="transcodeModal.hide()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="transcode();">Transcode</button>  
        </div>

        <div class="modal-footer" *ngIf="transcodeStatus == 'success' || transcodeStatus == 'error'">
            <button type="button" class="btn btn-primary" (click)="transcodeModal.hide()">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #publishModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left">{{content.title}}</h5>
      </div>
        <div class="modal-body">
            <div class="modal-loading-div" *ngIf="publishStatus == 'in-progress'">
                <p>Publishing content...</p>
                <img src="../../../assets/img/loading.gif" alt="please wait..."/>
            </div>
            <div class="modal-loading-div" *ngIf="publishStatus == 'success'">
                <p class="text-success">Content published successfully.</p>
            </div>
            <div class="modal-loading-div" *ngIf="publishStatus == 'error'">
                <p class="text-danger">There is some issue. Please contact administrator.</p>
            </div>
        </div>
        
        <div class="modal-footer" *ngIf="publishStatus == 'success' || publishStatus == 'error'">
            <button type="button" class="btn btn-primary" (click)="publishModal.hide()">Close</button>
        </div>
    </div>
  </div>
</div>